#
# This file contains configuration flags to customize your site
#
# Name of your site (displayed in the header)
title: Welcome to the Chaos
# Short bio or description (displayed in the header)
description: An insight into my life as a disorganized, ADD, stressed out college student who is for some reason having a good time just figuring it out one mistake at a time.  

#
# !! DON'T EDIT BELOW THIS MESSAGE
#
# Use the following plug-ins
plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
